In [ ]:
a = 'hello'
print(len(a))

5

In [ ]:
a = [1, 2, 5, 9]
sum(a)
sorted(a, reverse=True)

[9, 5, 2, 1]

In [ ]:
name = 'priya'
sar_name = 'bagchi'
def add(name='munira', sar_name= [2, 4, 6]):
  name = name
  sar_name = sar_name

  return name, sar_name
add()

(520, [2, 4, 6])

In [ ]:
# For loop Practice Session: (Problem-1[(1-n)Printing])

In [ ]:
n = int(input("Enter a number: "))
for i in range(n):
  i +=1
  print(i)

Enter a number: 5
1
2
3
4
5

In [ ]:
# (Even_number)Problem-2

In [ ]:
a = int(input("Enter: "))
ies = []
for i in range(a):
  i += 1
  if i % 2 == 0:
    print(f"{i} = EVEN")

  elif i % 2 != 0:
     for v in str(i):
       ies.append(i)
       break

print(f"{ies} = ODD")
print(type(i))
print(type(v))

Enter: 6
2 = EVEN
4 = EVEN
6 = EVEN
[1, 3, 5] = ODD
<class 'int'>
<class 'str'>

In [ ]:
# Problem-3

In [ ]:
a = int(input("Enter: "))
result = 0
for i in range(a):
  i += 1
  if i % 2 != 0:
    result += i
    print(result)

Enter: 5
1
4
9

In [ ]:
b = int(input("Enter--")) #Problem-4
res = 1
for i in range(b):
  i += 1
  res *= i
print(format(res,','))

Enter--11
39,916,800

In [ ]:
c = int(input("Enter---")) # Problem-6
for i in range(c):
  i += 2
  square = i*i
  print(f"{i}^2 = {square}")

Enter---9
2^2 = 4
3^2 = 9
4^2 = 16
5^2 = 25
6^2 = 36
7^2 = 49
8^2 = 64
9^2 = 81
10^2 = 100

In [ ]:
d = int(input("Enter---")) # Problem-5
multi = 1
for i in range(d):
  i += 1
  multi *= i
  print(multi)

Enter---5
1
2
6
24
120

In [ ]:
p = int(input("Enter---")) # Problem -7(multiplicatio_table)

for i in range (1, 11):
  for j in range(p):
      multi_table= f"{p} X {i} = {p * i}"
      print(multi_table)
      break

Enter---5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
e = int(input("Enter a number: ")) # Problem -8
coun = 0
for i in range(e):
  i += 1
  coun += i
  if coun % 5 == 0:
    continue
  print(coun)

Enter a number: 4
1
3
6

In [ ]:
s = 'ilovepython' # Problem -9
for char in s:
  print(char)

i
l
o
v
e
p
y
t
h
o
n

In [ ]:
j = 'munira' # Problem -10(reverse String)
for i in j[::-1]:
  print(i)

r
i
n
u
m

In [ ]:
li = [9, 4, 2] # Problem -11
total = 0
for i in li:
  total += i
print(total)

15

In [ ]:
print(max(li)) # Problem - 12

9

In [ ]:
np = int(input("Enter---")) # Problem -13

for i in range(np):
  i += 1
  if np % i == 0:
    print(f"{i}", end=', ')
print(f"are the factors of {np}.")

Enter---15
1, 3, 5, 15, are the factors of 15.

In [ ]:
k = int(input("Enter---")) # Problem -14

for i in range(2, k):

  if k % i == 0:
      print("Not Prime")
      break

else:
  print("Prime")

Enter---15
Not Prime

In [ ]:
n = int(input("Enter---"))
g = 0
h = 1
print(g)
for i in range(2, n+1):
  j = g+h
  g = h
  h = j

  if n == 1:
    print(j)
  elif n == 2:
    print(h)

  else:
    print(g)

Enter---9
0
1
1
2
3
5
8
13
21

In [ ]:
l = int(input("Enter---")) # Problem -16
sum_of_digit = 0
for i in str(l):
  sum_of_digit += int(i)
print(sum_of_digit)

Enter---528
5
7
15

In [ ]:
n = input("Enter a number: ") # Problem -17
for i in n[::-1]:
  print(int(i), end=' ')

Enter a number: 682
2 8 6

In [ ]:
char = ['a', 'e', 'i', 'o', 'u'] # Problem -18
r = int(input("Enter a range: "))
for i in range(r):
   v = input("Enter---").lower()
   for j in char:
      if v in j:
        print(f'{v} is a vowel')
        break

   else:
      print(f'{v} is a consonant')

Enter a range: 2
Enter---E
e is a vowel
Enter---A
a is a vowel

In [ ]:
mes = 'I am Munira JAHAN Sopna, I am 23 years Old.' # Problem -19
count = 0
for i in mes:
  if i.isupper():
    count += 1
print(f"Total uppercase letters: {count}")

Total uppercase letters: 10

In [ ]:
pln = int(input("enter")) # Problem -20
pln = str(pln)

for char in pln:
  if pln[0 : -1] == pln[-1 : 0 : -1]:
    print(f"{int(pln)} is a pelindrom number.")
    break
else:
  print(f"{int(pln)} is not a pelindrom number")

enter6332
6332 is not a pelindrom number

In [ ]:
pln = input("enter")  # My special Practice

for char in pln:
  if pln[0 : -1] == pln[-1 : 0 : -1]:
    print(f"{pln} is a pelindrom word.")
    break
else:
  print(f"{pln} is not a pelindrom word")

In [ ]:
t = input("Enter---") # Problem -21
result = 1
for i in t:
  #print(int(i))
  result *= int(i)
print(result)

Enter---68
48

In [ ]:
N = int(input("Enter---"))  # Problem -22

for i in range (2, N+1):
  i = i ** 3
  print(i)

Enter---5
8
27
64
125

In [ ]:
for i in range(1, 100): # Problem -23
  if i % 3 == 0 and i % 5 == 0:
    print(i, end=' ')

15 30 45 60 75 90

In [ ]:
q = int(input("Enter---")) # Problem -24
total = 0
for i in range(1, q+1):
  total += i
print(total)

Enter---8
36

In [ ]:
ch = '59337535715463' # Problem -25
count = 0
for char in ch:
  if char.isdigit():
     count += 1
print(count)

14

In [ ]:
o = 'I aM iN loVe With coMputer SCIence.' # Problem -26
coun = 0
for char in o:
  if char.islower():
    coun += 1
print(f"There are {coun} lower case letters.")

There are 19 lower case letters.

In [ ]:
w = [3, 2, 8, 97, 34, 99, 24, 22, 54, 30, 98, 83, 23, 89] # Problem -27
iter = 0
for i in w:
  if i % 2 == 0:
    iter += 1
print(iter)

8

In [ ]:
lees = [-3, 9, 3, 5, -3, -2, -39, -1, 2, 4, -7] # Problem -28
accoun = 0
for i in lees:
  if i < 0:
    accoun += 1
print(accoun)

6

In [ ]:
mul = [3, 5, 8, 2, 1, 9, 7, 6, 4] # Problem -29
nms = []
for i in mul:
  nm = i * 2
  nms.append(nm)

print(nms)

[6, 10, 16, 4, 2, 18, 14, 12, 8]

In [ ]:
sen = 'i love ml.' # Problem - 30
co = 0
for char in sen:
  #if char.isspace():
    #continue
  if char.isalpha():
    co += 1

print(co)

7

In [ ]:
x = int(input("Enter---")) # Problem -31
cou = 0
for i in range(x, 0, -1):
  if x % i == 0:
    cou += 1
    print(i)

Enter---10
10
5
2
1

In [ ]:
tu = [2, 39, 20, 74, 83, 19, 30, 48] # Problem -32

for i in tu:
   ma = max(tu)
   tu.remove(ma)
   break

print(max(tu))

74

In [ ]:
et = int(input("Enter 1st Number--")) # My practice
pt = int(input("Enter 2nd Number--"))

def gcd(a, b):
  for _ in range(100):
    if b == 0:
      break
    temp = a
    a = b
    b = temp % a
  return a

gcd_value = gcd(et, pt)
lcm = (et * pt) / gcd_value
print(gcd_value)
print(int(lcm))

Enter 1st Number--48
Enter 2nd Number--18
6
144

In [ ]:
def mul(x):
  lis = []
  for j in range(1, 26):
    j *= x
    lis.append(j)
  return lis

a = int(input("Enter 1st number---"))
b = int(input("Enter 2nd number---"))
c = int(input("Enter 2nd number---"))
lis1 = mul(a)
lis2 = mul(b)
lis3 = mul(c)
e = set(lis1)
f = set(lis2)
g = set(lis3)
uni_num = e
sort = sorted(uni_num)
lcm = sort[0]
print(lcm)

Enter 1st number---3
Enter 2nd number---18
18

In [ ]:
nt = int(input("Enter---")) # Problem -33

for i in range(1, nt+1):
  if i % 7 == 0:
    print(i, end=' ')

Enter---100
7 14 21 28 35 42 49 56 63 70 77 84 91 98

In [ ]:
pns = int(input("Enter first number: "))  # Prime -34
pne = int(input("Enter second number: "))
countt = 0
for num in range(pns, pne+1):
  for v in range(2, num):
    if num % v == 0:
      break

  else:
    countt += 1
    print(num, end=' ')
print(f"\nTotal Prime Numbers = {countt}")

Enter first number: 2
Enter first number: 100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97
Total Prime Numbers = 25

In [ ]:
ntp = int(input("Enter a number---")) # Problem -35
sum_res = 0

for nom in range(1, ntp):
  if ntp % nom == 0:
    sum_res += nom
    #print(sum_res

if ntp == sum_res:
  print(f"{ntp} is a Perfect Number")
else:
  print(f"{ntp} is not a perfect Number")

Enter a number---10
10 is not a perfect Number

In [ ]:
sc = 'data science machine learning deep learining computer science' # Problem -36
cr = input("Enter a character---")
countte = 0

for chr in sc.lower():
  if cr in chr:
    countte += 1

print(countte)

Enter a character---m
2

In [ ]:
mn = int(input("Enter---"))  # Problem -37

for i in range(10, 0, -1):
  for j in range(mn):
    multii = f"{mn} X {i} = {mn * i}"
  print(multii)

Enter---6
6 X 10 = 60
6 X 9 = 54
6 X 8 = 48
6 X 7 = 42
6 X 6 = 36
6 X 5 = 30
6 X 4 = 24
6 X 3 = 18
6 X 2 = 12
6 X 1 = 6

In [ ]:
listt = [3, 9, -2, -98, 35, 21, -21, 8, -4, 4, 6, -7] # Problem -38
couunt = 0
for i in listt:
  if i > 0:
    couunt += i
print(couunt)

86

In [ ]:
seten = 'A Quick Brown Fox Jumps Over Ther Lazy Dog' # Problem -39
for char in seten:
   print(char.lower(), end='')

a quick brown fox jumps over ther lazy dog

In [ ]:
lines = int(input("Enter_line_numbers--")) # Problem -40


for i in range(1, lines+1):
  for j in range(1, i+1):
    j *= '^'
  print(j, end=' ')
  print()

Enter_line_numbers--6
^
^^
^^^
^^^^
^^^^^
^^^^^^

In [ ]:
lins = int(input("Enter lines---")) # Problem -41

for lie in range(1, lins+1):
  for pattern in range(1, lie+1):
    pattern *= '*'
  print(pattern, end=' ')
  print()

Enter lines---4
*
**
***
****

In [ ]:
linse = int(input("Enter----")) # Problem -42
num = 1
for i in range(1, linse+1):
  for shongkha in range(1, i+1):
    print(shongkha, end=' ')
  print()

Enter----2
1
2

In [ ]:
liens = int(input("Enter---")) # Problem -43

for i in range(liens, 0, -1):
  for shongkha in range(1, i+1):
    print(shongkha, end=' ')
  print()

Enter---5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
liens = int(input("Enter---")) # My extra Practice

for i in range(liens, 0, -1):
  for shongkha in range(i, 0, -1):
    print(shongkha, end=' ')
  print()

Enter---5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
a = int(input("Enter 1st nm----"))  # My special practice (vognangsher tulona duti shonkha)
b = int(input("Enter 2nd nm----"))
x = int(input("Enter 3rd nm----"))
y = int(input("Enter 4th nm----"))

ay = a * y
bx = b * x

if ay > bx:
  print(f"{a}/{b} is greater than {x}/{y}")

elif ay < bx:
  print(f"{a}/{b} is lower than {x}/{y}")

elif ay == bx:
  print(f"{a}/{b} and {x}/{y} are Equal.")

Enter 1st nm----1
Enter 2nd nm----3
Enter 3rd nm----1
Enter 4th nm----4
1/3 is greater than 1/4

In [ ]:
a = int(input("Enter 1st nm----"))  # My special practice(vognangsher jog[duti shonkha])
b = int(input("Enter 2nd nm----"))
x = int(input("Enter 3rd nm----"))
y = int(input("Enter 4th nm----"))

by = b * y
ay = a * y
bx = b * x
sum_aybx = ay + bx
f_sum = f"{sum_aybx}/{by}"
print(f_sum)

Enter 1st nm----1
Enter 2nd nm----2
Enter 3rd nm----1
Enter 4th nm----3
5/6

In [ ]:
a = int(input("Enter 1st nm----"))  # My special practice(vognangsher jog[duti shonkha])
b = int(input("Enter 2nd nm----"))
x = int(input("Enter 3rd nm----"))
y = int(input("Enter 4th nm----"))

def vogn(a, b, x, y):
  by = b * y
  ay = a * y
  bx = b * x
  return by, ay, bx

by, ay, bx = vogn(a, b, x, y)
subtr_aybx = ay - bx
sum_aybx = ay + bx
f_subtr = f"{subtr_aybx}/{by}"
f_sum = f"{sum_aybx}/{by}"
print(f_subtr)
print(f_sum)

Enter 1st nm----1
Enter 2nd nm----2
Enter 3rd nm----1
Enter 4th nm----3
1/6
5/6

In [ ]:
linse = int(input("Enter----")) # Problem -44
num = 1
for i in range(1, linse+1):
  for j in range(1, i+1):
    print(num, end=' ')
    num += 1
  print()

Enter----4
1
2 3
4 5 6
7 8 9 10

In [ ]:
rows = int(input("Enter number of rows: ")) # Problem - 45

for i in range(1, rows + 1):
    spaces = rows - i
    stars = i
    print(" " * spaces + "*" * stars)

Enter number of rows: 4
   *
  **
 ***
****

In [ ]:
rowws = int(input("Enter----"))

for i in range(1, rowws+1):
  spaces = rowws - i
  stars = i
  print(" " * spaces + "()" * i)

Enter----4
   ()
  ()()
 ()()()
()()()()

In [ ]:
inp = 'hello' # Problem -46

for i in inp:
  print(inp[-1::-1])
  break

olleh

In [ ]:
sm = 'munira' # Problem -47
for char in sm:
  result =','.join(sm)
  print(result, end='')
  break

m,u,n,i,r,a

In [ ]:
wo = input("Enter---") # Problem -48
for i in wo.split():
  resu = wo[::-1]
  print(resu)
  break

Enter---Hello world
dlrow olleH

In [ ]:
spc = input("Wright a sentence with special character: ") # Problem -49

cont = 0
for i in spc:
  if i in '!@#$%&':
    cont += 1
print(cont)

Wright a sentence with special character: j@ysh@n&
3

In [ ]:
sens = input("Enter a Sentence: ") # Problem -50
dic = {}

for char in sens:
  if char == ' ':
      continue
  if char == '.' :
    continue
  if char in dic:
     dic[char] += 1
  else:
     dic[char] = 1
print(dic)

Enter a Sentence: i am sopna
{'i': 1, 'a': 2, 'm': 1, 's': 1, 'o': 1, 'p': 1, 'n': 1}

In [ ]:
# Problem - 51: Count how much unique numbers a list have.

lit = [2, 4, 3, 2, 5, 2, 5, 1, 2, 9, 2, 10, 6, 7, 8, 1, 89, 1, 2, 1, 3, 8]
se = []
counnt = 0
for num in lit:
  if num not in se:
    se.append(num)
    counnt += 1
print(counnt)

11

In [ ]:
# Problem - 52: Print common items of two lists.

lis1 = [2, 4, 3, 2, 5, 2, 5, 1, 89, 2, 9]
lis2 = [2, 10, 6, 8, 1, 89, 1, 2, 1, 3]
lis = []
for i in lis1:
  if i in lis2:
    lis.append(i)

lis = set(lis)
comm_lis = list(lis)
print(comm_lis[::-1])

[3, 2, 1, 89]

In [ ]:
lis1 = [2, 4, 3, 5, 1, 89, 9]
lis2 = [2, 10, 6, 8, 1, 89, 2, 3]
for i in lis1:
  if i in lis2:
    print(i, end=' ')

2 3 1 89

In [ ]:
# Problem - 53: Print a list element in decending order.

lis1 = [2, 4, 3, 5, 1, 89, 9]

for i in lis1[::-1]:
  print(i)

9
89
1
5
3
4
2

In [ ]:
# Problem - 54: Filter string type element in a new list from a given list.

lis = ['hello', 2, 3.5, 'munira', '10', 5, 9, 'piya', 4.2, 'a', 8]
lisstr = []

for i in lis:
  if type(i) == str:
    lisstr.append(i)

print(lisstr)

['hello', 'munira', '10', 'piya', 'a']

In [ ]:
# Problem - 55: Count, how much unique do have in a list.
lit = [2, 4, 3, 2, 5, 2, 5, 1, 2, 9, 2, 10, 6, 7, 8, 1, 89, 1, 2, 1, 3, 8]
lit = set(lit)
litt = list(lit)

countt = 0
for i in litt:
  countt += 1

print(countt)

11

In [ ]:
# Problem - 56: Print even numbers from 1 to 50.
print('There are the even numbers from 1 to 50:')
for i in range(1, 51):
  if i % 2 != 0:
    print(i, end=' ')

There are the even numbers from 1 to 50:
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
print('There are the even numbers from 1 to 50:')
for i in range(1, 51, 2):
  print(i, end=' ')

There are the even numbers from 1 to 50:
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
# Problem - 57: Print the range of 10-1 numbers in descending order.
for i in range(10, 0, -1):
  print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

In [ ]:
# Problem - 58: Print the products between the range of 1-10 numbers.
k = 1
for i in range(1, 11):
  k *= i
print("The Product:", k)

The Product: 3628800

In [ ]:
# Problem - 59: Print the sum of range of 1-10 numbers.
k = 0
for i in range(1, 11):
  k += i
print("The sum:", k)

The sum: 55

In [ ]:
# Problem - 60: Take a number from user as input and make multiplication table.
ini = int(input("Enter a number---"))

for i in range(1, 11):
  for j in range(ini):
    print(f"{ini} X {i} = {ini*i}")
    break

Enter a number---32
32 X 1 = 32
32 X 2 = 64
32 X 3 = 96
32 X 4 = 128
32 X 5 = 160
32 X 6 = 192
32 X 7 = 224
32 X 8 = 256
32 X 9 = 288
32 X 10 = 320